@import "tailwindcss";


/* 


@theme {
    --color-primary: #030014;
    --color-secondary: #1a1b23;
    --color-tertiary: #38384b;

    --color-light-100: #cecefb;
    --color-light-200: #a8b5db;

    --color-gray-100: #9ca4ab;

    --color-dark-100: #0f0d23;

    --font-dm-sans: DM Sans, sans-serif;

    --breakpoint-xs: 480px;

    --background-image-hero-pattern: url("/hero-bg.png");
}

@utility text-gradient {
    @apply bg-linear-to-r from-[#d6c7ff] to-[#ab8bff] bg-clip-text text-transparent;    
} 

@utility fancy-text{
    @apply text-gradient text-white text-4xl font-bold;
}

@layer base{
  body{
    font-family: "DM Sans", serif;
    font-optical-sizing: auto;
    background: #030014;
  }

  h1{
    @apply text-center font-bold text-white text-5xl  max-w-4xl leading-tight tracking-[-1%] sm:text-[64px] sm:leading-[76px];
  }

  h2{
    @apply text-center font-bold text-gray-500 text-3xl leading-tight max-w-2xl 
  }

  main{
    @apply min-h-screen bg-primary relative
  }

  header{
    @apply mt-5 sm:mt-10
  }

  header img{
    @apply h-auto w-full object-contain mx-auto max-w-lg drop-shadow-md
  }
}

@layer components{
  .patterns{
    @apply bg-hero-pattern absolute bg-cover z-0
  }

  /* .search{
    @apply  w-full bg-light-100/5 px-4 py-3 rounded-lg mt-10 max-w-3xl mx-auto

    & div {
      @apply relative flex items-center;
    }

    & img {
      @apply absolute left-2 h-5 w-5;
    }

    & input {
      @apply w-full bg-transparent py-2 sm:pr-10 pl-10 text-base text-gray-200 placeholder-light-200 outline-hidden;
    }
  } */
/* 
  .movie-card {
    @apply bg-light-100 p-5 rounded-2xl shadow-inner shadow-light-100/10;

    & img {
      @apply rounded-lg h-auto w-full;
    }

    & h3 {
      @apply text-white font-bold text-base line-clamp-1;
    }

    & .content {
      @apply mt-2 flex flex-row items-center flex-wrap gap-2;
    }

    & .rating {
      @apply flex flex-row items-center gap-1;
    }

    & .rating img {
      @apply size-4 object-contain;
    }

    & .rating p {
      @apply font-bold text-base text-white;
    }

    & .content span {
      @apply text-sm text-gray-100;
    }

    & .content .lang {
      @apply capitalize text-gray-100 font-medium text-base;
    }

    & .content .year {
      @apply text-gray-100 font-medium text-base;
    }
  } */

/*
@
@layer components{
    .pattern {
        @apply bg-hero-pattern w-screen h-screen bg-center bg-cover absolute z-0;
      }
    .wrapper {
        @apply px-5 py-12 max-w-7xl mx-auto flex flex-col relative z-10
    }

    
    
    
      
}



   */
